.analytics-container{
    padding: 20px;
    background: #f5f7fa;
    min-height: 100vh

}

.filter-section{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

select{
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background :white
}

.analytics-grid{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
    justify-content:space-around;

}

.chart-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    flex:1;
    width:45%;
    min-width:300px;
    max-width:600px;
}

.chart-card h3{
    text-align:center;
    margin-bottom:15px;
}