.analytics-btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight:bold;
    transition:0.3s;
}

.analytics-btn:hover{
    background-color: #0056b3;
}