html,body, #root {
    height:100%;
    width:100%;
    margin:0;

}

.hero-section {
    background:url("../assets/baclkground_image.png") no-repeat center center/cover;
    height:90vh;
    width:100% ;
    padding: 0 20px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
 
}

.home-container{
    width:100%;

    display:flex;
    flex-direction: column;
    margin-left:0px;
}
.feature-icon:hover{
    transform:scale(1.1);
}
.footer{
    font-size: 14px;
    letter-spacing:0.5px;
}

body, html, #root{
    margin: 0 ;
    padding: 0 ;
    height: 100%;
    width: 100%;
    overflow-x: hidden ;
}

.feature-icon{
    width: 80px;
    height: 80px;
    object-fit: contain;
}