html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

.hero-section {
    background: url("../assets/Budget_image7.png") no-repeat center center/cover;
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: white;
    z-index: 1;
}

/* Add a blurred overlay effect */
.hero-section::before {
    content: "";
    position: absolute;
    top: 25;
    left: 25;
    width: 70%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    backdrop-filter: blur(10px); /* Adds blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    z-index: -1; /* Place behind the content */
}

.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.feature-icon:hover {
    transform: scale(1.1);
}

.footer {
    font-size: 14px;
    letter-spacing: 0.5px;
}

body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.feature-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
}