.login-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    background : url("../assets/Budget_image8.png") no-repeat center center fixed;  

}

.card{
    border: radius 15px;
    background-color: #ffffff;
}   

.card-title{
    color : #333;
   
}
.form-control:focus,.form-select:focus{
    border-color: #667eea;
    box-shadow : 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
}
.btn-primary:hover{
    background-color: #5a67d8;
    border-color: #5a67d8;
}
.login-btn{
    display:block;
    max-width:80px;
    margin:20px auto;
    background-color : #4f46e5
}
.btn-primary:hover{
    background-color: #5a67d8;
    border-color: #5a67d8;
}
.login-link{
    text-align:center;
    margin-top:10px;
}